@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-primary: #11181C;
  --foreground-secondary: #687076;
  --background-primary: #F8F9FA;
  --background-secondary: #d2d2d2;
  --accent-primary: #3FCF8E;
  --accent-secondary: #3fcf8e65;
}

:root.dark {
  --foreground-primary: #EDEDEDED;
  --foreground-secondary: #909090;
  --background-primary: #181818;
  --background-secondary: #323232;
}

body {
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

.primaryColor {
  color: var(--foreground-primary);
}

.primaryColorBg {
  background-color: var(--background-primary);
}

.secondaryColor {
  color: var(--foreground-secondary);
}

.secondaryColorBg {
  background-color: var(--background-secondary);
}

.accentColor {
  color: var(--accent-primary);
}

.accentColorBg {
  background-color: var(--accent-primary);
}

.accentColorSecondary {
  color: var(--accent-secondary);
}

.accentColorSecondaryBg {
  background-color: var(--accent-secondary);
}

#tooltip {
  padding: 0 !important;
}